{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/comic-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Referenced Comics</h1>
  <img src="{% static 'images/Image-Comics.png' %}" alt="Image Comics" />
  <img src="{% static 'images/DC-Black-Label.png' %}" alt="DC Black Label" /> 
  <img src="{% static 'images/DC.png' %}" alt="DC Comics" />
  <img src="{% static 'images/Empire-Comics.png' %}" alt="Empire Comics Vault" />
  <img src="{% static 'images/Marvel-Comics.png' %}" alt="Marvel Comics" />
</section>

<section class="card-container">
  {% for comic in comic_list %}
  <div class="card" style="border-color: {{ comic.color }}">
    <div class="card-bg" style="background-color: {{ comic.color }}"></div>
    <a href="{% url 'comics_detail' comic.id %}">
      <div class="card-content">
        <h2>{{ comic.title }}</h2>
        <p>Issue Num. {{ comic.issue }}</p>
        <p>Drawn by {{ comic.artist }}</p>
        <p>Published by {{ comic.publisher }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}