{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/figure-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="figure-container">
  <div class="figure-img">
    <img 
      src="{% static 'images/' %}" 
      alt="figure"
    >
  </div>
  <div class="figure-details">
    <h1>{{ figure.name }}</h1>
    {% if figure.scale > 0 %}
      <h2>{{ figure.scale }} inch scale {{ figure.brand }} action figure.</h2>
    {% else %}
      <h2>A {{ figure.brand }} miniature.</h2>
    {% endif %}
    <p>{{ figure.description }}</p>
    <div class="figure-actions">
      <a href="{% url 'figures_update' figure.id %}" class="btn warn">Edit</a>
      <a href="{% url 'figures_delete' figure.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}