{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/figure-detail.css' %}"
/>
<script defer src="{% static 'js/figure-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="figure-container">
  <div class="figure-img">
    <img 
      src="{% static 'images/' %}" 
      alt="figure"
    >
  </div>
  <div class="figure-details">
    <h1>{{ figure.name }}</h1>
    {% if figure.scale > 2 %}
      <h2>{{ figure.scale }} inch scale {{ figure.brand }} figure.</h2>
    {% else %}
      <h2>A {{ figure.brand }} miniature.</h2>
    {% endif %}
    <p>{{ figure.description }}</p>
    <div class="figure-actions">
      <a href="{% url 'figures_update' figure.id %}" class="btn warn">Change Details</a>
      <a href="{% url 'figures_delete' figure.id %}" class="btn danger">Remove</a>
    </div>
  </div>
</section>
<div class="cleanings-comic-container">
  <section class="cleanings">
    <div class="subsection-title">
      <h2>Cleanings</h2>
      <img 
        src="{% static 'images/Cloth.png' %}" 
        alt="dry"
      />
      <img 
        src="{% static 'images/Alcohol.png' %}"
        alt="alcohol"
      />
      <img 
        src="{% static 'images/Q-Tips.png' %}" 
        alt="q-tip"
      />
    </div>
    <h3>Add Cleaning</h3>
    
    <form
      action="{% url 'add_cleaning' figure.id %}" 
      method="post" 
      class="subsection-content"
    >
      {% if figure.clean_for_today %}
        <p class="clean">{{figure.name}} has been cleaned with all techniques today</p>
      {% else %}
        <p class="unclean">{{figure.name}} might be unclean</p>
      {% endif %}
      {% csrf_token %}
      {{ cleaning_form.as_p }}
      <button type="submit" class="btn submit">Add Cleaning</button>
    </form>
    <h3>Cleanings</h3>
    {% if figure.cleaning_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Technique</th></tr>
      </thead>
      <tbody>
        {% for cleaning in figure.cleaning_set.all %}
          <tr>
            <td>{{cleaning.date}}</td>
            <td>{{cleaning.get_technique_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
		<div class="subsection-content">
      <p>{{figure.name}} has never been cleaned</p>
    </div>
  {% endif %}
  </section>
    <section class="comics">
    <div class="subsection-title">
      <h2>Comics</h2>
  <img src="{% static 'images/Image-Comics.png' %}" alt="Image Comics" />
  <img src="{% static 'images/DC-Black-Label.png' %}" alt="DC Black Label" /> 
  <img src="{% static 'images/DC.png' %}" alt="DC Comics" />
  <img src="{% static 'images/Empire-Comics.png' %}" alt="Empire Comics Vault" />
  <img src="{% static 'images/Marvel-Comics.png' %}" alt="Marvel Comics" />
    </div>
    <h3>{{ figure.name }}'s Inspiration</h3>
    <div class="subsection-content">
      {% if figure.comics.count %}
        {% for comic in figure.comics.all %}
          <div class="comic-container">
            <div 
              class="color-block"
              style="background-color: {{ comic.color }}"
            ></div>
            <a href="{% url 'comics_detail' comic.id %}">
              <p>Art references in {{ comic.title }} issue {{ comic.issue }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-comics">{{figure.name}} doesn't have any direct comic inspirations</p>
      {% endif %}
    </div>
    <h3>Available comics</h3>
    <div class="subsection-content">
    </div>
  </section>
</div>
</div>

{% endblock %}