{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/figure-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Action Figure List</h1>
  <img src="{% static 'images/McFarlane-Toys.png' %}" alt="mcfarlane" />
  <img src="{% static 'images/DC.png' %}" alt="dc" />
  <img src="{% static 'images/Star-Wars.png' %}" alt="starwars" />
  <img src="{% static 'images/Hasbro.png' %}" alt="hasbro" />
  <img src="{% static 'images/Unruly-Industries.png' %}" alt="unruly" />
</section>

<section class="card-container">
  {% for figure in figures %}
    <div class="card">
      <a href="{% url 'figures_detail' figure.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/Figure-Silhouette.png' %}" 
              alt="figure"
            >
          </div>
          <h2 class="card-title">{{ figure.name }}</h2>
          {% if figure.scale > 2 %}
            <p>{{ figure.scale }} inch scale {{ figure.brand }} figure.</p>
          {% else %}
            <p>A {{ figure.brand }} miniature.</p>
          {% endif %}
          <p><small>{{ figure.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}