{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/figure-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Action Figure List</h1>
  <img src="{% static 'images/McFarlane-Toys.png' %}" alt="mcfarlane" />
  <img src="{% static 'images/DC.png' %}" alt="dc" />
  <img src="{% static 'images/Star-Wars.png' %}" alt="starwars" />
  <img src="{% static 'images/Hasbro.png' %}" alt="hasbro" />
</section>

<section class="card-container">
  {% for figure in figures %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/' %}" 
            alt="skater figure"
          >
        </div>
        <h2 class="card-title">{{ figure.name }}</h2>
        {% if figure.scale > 0 %}
          <p>A {{ figure.scale }} inch scale {{ figure.brand }} action figure.</p>
        {% else %}
          <p>A {{ figure.brand }} action figure.</p>
        {% endif %}
        <p><small>{{ figure.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}